.welcomeText{
  font-size: 30px;
  font-weight: bold;
  color: #495057;
  background-color: #f8fafb;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}